.courseDetails{
    border: 2px solid gray;
    border-radius: 10px;
    background: #950740 ;
    padding: 8px;
}
.courseDetails img{
    width:100%;
    height: 230px;
    /* background: rgb(246, 224, 53); */
    border-radius: 10px;
}
.corseText{
    text-align: center;
}
.corseBtnAndQuiz{
    display: flex;
   justify-content: space-between;
   width: 100%;
}
.corseBtnAndQuiz a{
    display: flex;
    align-items: center;
    text-decoration: none;
font-size: 16px;
padding: 8px;

}

.courseBtn{
   background: white;
   color: #f13782;
   border: none;
   padding: 10px;
   font-size: 18px;
   border-radius: 5px;
}
