.navbar{
    background: black;
    color: white;
    border-bottom: 1px solid rgb(62, 61, 61);
    

}
.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}
.logoTex{
    color:#950740 ;
    font-size: 30px;
}
.navLink{
    display: flex;
    align-items: center;

}
.navLink a{
    color: #f13782;
    text-decoration: none;
    margin-left: 16px;
    font-size: 18px;
    
  
}

@media only screen and (max-width:576px) {
    .navbar{
      width:100%;
    } 
    .navbar-wrapper{
      
        padding: 0 12px;
    }
    .logoTex{
        
        font-size: 18px;
    }
    .navLink a{
        
        margin-left: 12px;
        font-size: 16px;
        
      
    }
}
