.navbar{
    background: black;
    color: white;
    border-bottom: 1px solid rgb(62, 61, 61);
    

}
.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}
.logoTex{
    color:#950740 ;
    font-size: 30px;
}
.navLink{
    display: flex;
    align-items: center;

}
.navLink a{
    color: #f13782;
    text-decoration: none;
    margin-left: 16px;
    font-size: 18px;
    
  
}
