.navbar{
    background: black;
    color: white;
}
.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}
.navLink{
    display: flex;
    align-items: center;

}
.navLink a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-size: 18px;
    
  
}