body{
    background: black;
    color: white;
} 



.home-course-details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:25px;
    margin: 80px;
   
}
/* .home-banner{
    position: relative;
    
} */
/* .banerTexts{
 position: absolute;    
}  */
.banerText{
    text-transform: uppercase;
    text-align: center;
    padding-top: 60px;
    color: #950740;
    font-weight: 700;
    
}
.banarParagrap{
    width: 41%;
    margin: auto;
    color: #950740;
    font-size: 17px;
    font-weight: 500;
   
}

@media only screen and (max-width:576px) {
    .home-banner{
       width: 100%;
        
    }
    .home-course-details{
        display: flex;
    flex-direction: column;
    }
    
    .banerText{
        padding-top: 14px;
        font-size: 10px;
       
    }
    .banarParagrap{
       
        display: none;
    }
}
@media only screen and (max-width:768px){
        .banarParagrap{
        display: none;
       
    }  
}
